<template>
<div class="container">

    <div class="grid">
        <div class="grid-row">
    <div class="grid-column-6">
        <div class="chart" style="opacity: 0.9;">
            <span style="">Biểu đồ giá theo thời gian</span>
            <div class="content-chart">
                <div>
                    <div class="content-chart-item" v-for="(content,index) in contents" :key="index">
                     <div class="price">{{content.price}}</div>
                    <div class="token-name">{{content.token_name}}</div>
                    <div class="live-percent-change">{{content.live_percent_change}}</div>
                </div>
               <div class="time-live">1:05 19/03/2022</div>

                </div>
                <div class="select-time">
                    <button class="btn-time active">1 Ngày</button>
                    <button class="btn-time">1 Tuần</button>
                    <button class="btn-time">1 Tháng</button>
                    <button class="btn-time">1 Năm</button>
                </div>
                <label class="dropdown">
                    <div class="dd-button">1 ngày
                        </div>
                    <input type="checkbox" class="dd-input" id="test">
                    <ul class="dd-menu">
                        <li>1 tuần</li>
                        <li>1 tháng</li>
                        <li>1 năm</li>
                     </ul> 
                </label>
                
            </div>
                           <div class="chart-table">
                    <area-chart :library="{backgroundColor: '#ffffff'}" :data="chartData"></area-chart>
               </div>
</div>
    </div>
    <div class="grid-column-4">
        <div class="swap">
            <div class="content-swap">
                <span>Swap</span>
                <img src="../assets/cog-regular-24.png" alt="">
            </div>
            <div>
                <div class="swap-token">
                    <p>Từ</p>
                    <div class="input-token">
                        <div class="logo-swap1"><img src="../assets/logotoken.png" alt=""><p style=" margin: 10px 5px;">VREF</p></div>
                        <input type="text" placeholder="0.0">
                    </div>
                    
                </div>
                <div class="icon-swap">
                    <div class="to-token">
                        <img src="../assets/down-arrow-alt-regular-24.png" alt="">
                    </div>
                </div>
                <div class="swap-token">
                    <p>Sang</p>
                    <div class="input-token">
                        <div class="logo-swap1"><img src="../assets/logousdt.png" alt=""><p style=" margin: 10px 5px;">USDT</p></div>
                        <input type="text" placeholder="0.0">
                    </div>
                    
                </div>
                <div class="footer-swap">
                     <div class="war"><p style="color: #ffffff;">Giá trị nhận được chỉ mang tính chất tương đối
                          vì nó sẽ luôn thay đổi theo thời gian. Vui lòng sử dụng bảng này chỉ để tham khảo</p></div>
                          <button class="btnsd">Không đủ số dư trong ví</button>
                </div>
               
            </div>
        </div>
    </div>
</div>
    </div>


</div>
</template>

<script>
export default {
    data(){
        return{
            contents:[{price: 0.43, token_name:"NFTY/USDT",live_percent_change:'+ 0.03 (4.5%)'}, ],
            chartData:{
          '2019-5-13': 2,
          '2019-5-14': 5,
          '2019-5-15': 4,
          '2019-5-16': 7,
        }
        }
    }

}
</script>

<style >
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  font-size: 15px;
}
.dropdown{
    display: none;
}
.btnsd{
    width: 340px;
    height: 56px;
    background: linear-gradient(2.05deg, #B3E9FA -0.32%, #FDE9A3 120.46%);
    border-radius: 68px;
    border: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

}
.footer-swap{
    width: 340px;
    margin: 0 auto;
    height: 120px;
    opacity: 0.9;
}

.to-token{
    position: static;
    width: 40px;
    height: 40px;
    left: 176px;
    top: 100px;
    background: linear-gradient(98.58deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    border-radius: 12px;

}
.to-token img{
    margin-top: 8px;
}
.icon-swap{
    width: 340px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.input-token{
    
       background: linear-gradient(90.51deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
    border-radius: 24px;
    width: 340px;
    margin: 0 auto;
    height: 55px;
    display: flex;
    justify-content: space-around;

}
.logo-swap1{
    /* position: absolute; */
    width: 103px;
    height: 40px;
    left: 0px;
    top: 0px;
    display: flex;
    margin: 7px 0 0px 6px;
    background: linear-gradient(98.58deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.08) 100%);;
    border-radius: 24px;
}
.logo-swap1 img{
    width: 30px;
    height: 30px;
    margin: 5px 10px;
    background-position: center;
    background-size: cover;
    border-radius: 50%
}
.logo-swap1 p{
   

}
.input-token input{
   background-color: transparent;
opacity: 0.8;    flex: none;
    border: none;
     position: static;
    width: 200px;
    margin: 0 auto;
    color: #ffffff;
    height: 52px;
    outline: none;

    
    border-radius: 24px;
/* Note: backdrop-filter has minimal browser support */


}
.swap-token{
display: flex;
flex-direction: column;
}
.swap-token p{
    text-align: start;
    color: #ffffff;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 5px 10px;
}
body{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}
.container{
    background-image: url("../assets/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 640px;
    margin: 0 0px 0 -10px;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 24px;
}
.grid-row{
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
}
.grid-column-2{
    padding-left: 12px;
    padding-right: 12px;
    width: 16.667%;
}
.grid-column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
.grid-column-6{
    padding-left: 12px;
    padding-right: 12px;
    width: 67%;
}
.grid-column-4{
    padding-left: 12px;
    padding-right: 12px;
    width: 30.3334%;
}
.chart{
    height: 480px;
    background: linear-gradient(100.48deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(24px);
    border-radius: 24px;
    display: flex;
    flex-direction: column;

}
.swap{
    height: 480px;
    background: linear-gradient(100.48deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(24px);
    border-radius: 24px;
    opacity: 0.8;
}

.chart span{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: start;
    margin: 10px 20px;
}
.content-chart{
    display: flex;
}
.content-chart-item{
    display: flex;
    margin: 10px 15px;
}
.content-chart-item div{
    display: flex;
    
    margin: 5px 5px;
    line-height: 10px;
}
.content-chart-item .price{
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
}
.token-name{
    font-size: 20px;
    color: #FFFFFF;
}
.live-percent-change{
    font-size: 20px;
    color: #00FF00;
}
.time-live{
    color: #FFFFFF;
    text-align: start;
    margin: 5px 20px;

    }
.select-time{
    margin-left: 30px;
}
.btn-time{
    background: none;
    margin: 10px 10px;
    width: 75px;
    height: 34px;
    background: linear-gradient(98.58deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    border-radius: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
}

.btn-time.active{
    color: #ffffff;
}

.btn-time:hover{
    color: #ffffff;
}
.content-swap{
    display: flex;
    justify-content: space-between;
    padding: 22px 20px;
}
.content-swap span{
    font-size: 20px;
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
}
.content-swap img{
    margin: 5px 5px;
}
@media screen and (max-width: 455px){
    .grid-row{
        display: flex;
        flex-direction: column;
    }
    .select-time{
        display: none;
    }
    .grid-column-4{
        width: 85%;
            margin: 0 30px 10px 30px;
    }
    .grid-column-6{
        width: 85%;
        margin: 0 30px 10px 30px;
    }
    .content-chart-item div{
        font-size: 18px;
    }
    a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #222222
}

/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background: linear-gradient(98.58deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    border-radius: 40px;
    color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 52%;
  right: 140px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {

}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0px 0px 130px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  list-style-type: none;
}
.content-chart{
    flex-direction: column;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  color: #ffffff;
}

.dd-menu li:hover {
    color: rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.7);
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}
}
@media screen and (min-width: 600px) and (max-width: 1120px){
    .container{
        margin-top: 50px;
    }
}
</style>