<template>
<Header />
<MainDex />
</template>

<script>
import Header from './components/Header1.vue'
import MainDex from './components/MainDex.vue'
export default {
  data(){
    return{
        
    }
  },
  name: 'App',
  components: {
    Header,
    MainDex
  },
    chainWebpack: (config) => {
    const svgRule = config.module.rule('svg');
 
    svgRule.uses.clear();
 
    svgRule
      .use('babel-loader')
      .loader('babel-loader')
      .end()
      .use('vue-svg-loader')
      .loader('vue-svg-loader');
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;1,300;1,400&display=swap');
body{
  font-family: 'Mulish', sans-serif;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  padding: 0;
}
</style>
